/* Add this CSS to your styles */
.password-input-container {
    position: relative;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 70%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  