.dashboard-body {
  justify-content: center;
  align-items: center;
  width: 500px;
}

/* dashboard-animation.css */

.dashboard-fade-in {
  animation: fadeIn 3s ease-in-out;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-container {
  border-radius: 10%; /* Set the border-radius to 50% to make it round */
  overflow: hidden; /* Hide any content that might overflow outside the round container */
  width: 4000px; 
}

/* Improve readability of text on images */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background */
  color: white; /* Set text color to white */
  padding: 10px; /* Add some padding to the caption */
}


/* Style the buttons in the carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white; /* Icon color */
  border-radius: 50%; /* Make the buttons round */
  padding: 8px; /* Add padding to the buttons */
}

/* Adjust the size of the carousel indicators */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

/* Style the active indicator */
.carousel-indicators .active {
  background-color: rgb(237, 232, 232);
}

/* Improve the spacing between carousel and other sections */
.carousel-section {
  margin-top: 40px; /* Add space at the top of the carousel */
}